<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sentimental Analyzer</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <div class="container">
            <form id="commentForm">
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="commentInput"
                        placeholder="Type a comment"
                        oninput="resizeInput(this)"
                    />
                </div>
                <button type="button" class="btn btn-primary" onclick="analyzeSentiment()">
                    Submit
                </button>
                <div id="result"></div>
                <div id="emojis" style="margin-top: 10px"></div>
            </form>
        </div>

        <script src="static/script.js"></script>
    </body>
</html>
